@use "styles/mixins.scss";
@use "styles/mixins/functions.module.scss";
@import "styles/colors.module.scss";

.button {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: $light-shades-80;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: $dark-shades-100;
    @include mixins.description;
}

.text_container {
    // position: relative;

    .tasks_list_modal {
        width: 100%;
        height: 100%;
        background-color: $dark-glass-75;
        width: 100%;
        height: 100%;
        background-color: $dark-glass-75;
        border-radius: 12px;
        // border-top-right-radius: 0px;
        @include  functions.setFixedSize(185px, 132px);
        @include mixins.open-modal-from-right;
        // top: 16px;
        // right: 95px;
        top: 50%;
        // top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;

        overflow: auto;
        position: fixed;
    }
}

.button:hover {
    cursor: pointer;
}