@use "styles/mixins.scss";
@use "styles/mixins/functions.module.scss";
@import "styles/colors.module.scss";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 705px;
    position: relative;
    display: grid;
    grid-template-rows: 35px auto 50px;
    background-color: $light-accent-20;

    z-index: initial;

    img {
        @include functions.setIconStyles(24px);
    }

    .icon:hover {
        transform: scale(1.3); 
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        direction: rtl;

        .column {
            display: flex;
            align-items: center;
            column-gap: 10px;
            direction: rtl;

            h2 {
                @include mixins.h5-text;
                color: $dark-shades-100;
                cursor: default;
            }

            .add_icon_container {
                position: relative;
                
                .icon:hover {
                    cursor: pointer;
                }
            }

        }

        .add_user_modal {
            width: 100%;
            height: 100%;
            border-top-right-radius: 0px;
            background-color: $dark-glass-75;
            @include mixins.open-modal-from-right;
        }
    }

    .users_list {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding:0 3px 0 5px;

        direction: rtl;

        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #eeeeee;
        }

        &::-webkit-scrollbar-thumb {
            background:  #3dbbff;
            border-radius: 5px;
        }

        .user_data_container {
            width: 100%;
            display: flex;
            // align-items: center;
            align-items: flex-start;
            column-gap: 10px;
            direction: rtl;
            position: relative;
            cursor: default;
            display: grid;
            grid-template-columns: max-content auto 24px 24px;

            .avatar {
                @include functions.avatarStyles(50px, 50%);
            }

            .empty_avatar {
                @include functions.emptyAvatarStyles();
                @include mixins.h6-text;

            }

            .info {
                width: 100%;
                height: 100%;
                height: max-content;
                display: flex;
                flex-direction: column;
                row-gap: 4px;

                .top {
                    width: 100%;
                    height: 100%;
                    // display: inline-flex;
                    justify-content: flex-start;
                    // flex-wrap: wrap;
                    color: $dark-shades-100;
                    direction: rtl !important;
                    max-width: 135px;
                    min-width: auto;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // max-width: 165px;
                    max-width: 165px;
                    min-width: 0;
                }

                .top > div:first-of-type {
                    @include mixins.h6-text;
                    width: max-content;
                    white-space: nowrap;
                    border-left: 1px solid $dark-shades-100;
                    padding-left: 4px;
                    margin-left: 4px;
                    display: inline;
                    direction: rtl;
                    // max-width: 135px;
                    // min-width: auto;
                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                }

                div:first-of-type:hover  {
                    cursor: pointer;
                }

                div:first-of-type:hover .tooltip{
                    display: block;
                    justify-content: baseline;
                    flex-wrap: wrap;
                }

                .tooltip {
                    width: fit-content;
                    min-height: 30px;
                    max-height: max-content;
                    background-color: $light-accent-50;
                    padding: 7px 10px;
                    border-radius: 12px;
                    position: absolute;
                    z-index: 1;
                    display: none;
                    left: 9%;
                    top: 0;
                    max-width: 211px;
                    min-width: 211px;
                    white-space: break-spaces;
                    box-shadow: 1px 1px 3px 1px #c7c4cba8;
                    box-shadow: 1px 1px 3px 1px rgb(197 197 197 / 50%);

                    .arrow {
                        position: absolute;
                        right: -10px;
                        top: 15px;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-left: 10px solid  $light-accent-50;
                        border-bottom: 8px solid transparent;
                    }

                    .type {
                        @include mixins.sub-title;
                    }
                }

                p:last-of-type {
                    @include mixins.sub-title;
                    padding-right: 4px;
                }

                .bottom {
                    text-align: right;
                    color: $dark-shades-100;
                    @include mixins.sub-description;
                }
            }

            .trash_icon {
                position: absolute;
                left: 0;
            }

            .edit_icon_container {
                position: relative;
                
                .icon:hover {
                    cursor: pointer;
                }
            }
        }

        .user_data_container:hover {
            cursor: default;
        }

        .loader_container {
            width: 100%;
            height: 100%;

            img {
                scale: 3;
            }
        }
 
    }

    .btn_container {
        width: 100%;
        position: absolute;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1250px) {
    .container {
        .users_list {
            .user_data_container {
                .info {
                    .top {
                        max-width: 125px;
                    }
                }
            }
        }
    
    }
}