
$light-accent-100 : #81A2B1;
$light-accent-60  : #A6BCC5; //#A6BCC5;
$light-accent-50  : #BBCBD1; //#BBCBD1;
$light-accent-30  : #D2DCDD; //#D2DCDD;
$light-accent-25  : #81a2b140; 
$light-accent-20  : #DEE4E3; //#DEE4E3;
$light-accent-10  : #eaf0ef; //#eaf0ef;

$dark-accent-100  : #777765;
$dark-accent-50   : #77776580;
$dark-accent-30   : #7777654d; //#CFCFC6;
$dark-accent-20   : #77776533; //#DCDCD4;

$light-shades-100 : #F5F5F0;
$light-shades-80  : #f5f5f0cc; //#D4D6D4;
$light-shades-20  : #f5f5f033; //#707B7E;

$dark-shades-100  : #1F2F37;
$dark-shades-80   : #545a5d;
$dark-shades-60   : #1f2f3799; //69767B;

$light-glass-100  : #f5f5f0b1;

$dark-glass-75    : #1f2f37bf;


$main-color-100   : #0BAEDD;
$main-color-90    : #0baedde8;
$main-color-50    : #0baedd8c;
$main-color-30    : #0baedd5e;

$pink-100         : #EE64AE;


$error-100        : #FF0000;
$error-60         : #ff000099; //#F25B5B;

$warning-dark-100 : #FF9D0A;
$warning-dark-60  : #ff9d0a99; //#DEF461;

$warning-100      : #DEFF0A;

$success-100      : #4ECC00;
$success-60       : #4ecc0099; //#87D65B;


:export {
    light-accent-100    : $light-accent-100;
    light-accent-50     : $light-accent-50;
    light-accent-30     : $light-accent-30;
    light-accent-25     : $light-accent-25;
    light-accent-20     : $light-accent-20;

    dark-accent-100     : $dark-accent-100;
    dark-accent-50      : $dark-accent-50;
    dark-accent-30      : $dark-accent-30;
    dark-accent-20      : $dark-accent-20;

    light-shades-100    : $light-shades-100;
    light-shades-20     : $light-shades-20;

    dark-shades-100     : $dark-shades-100;
    dark-shades-80      : $dark-shades-80;
    dark-shades-60      : $dark-shades-60;

    light-glass-100     : $light-glass-100;

    main-color-100      : $main-color-100;
    pink-100            : $pink-100;

    error-100           : $error-100;
    error-60            : $error-60;

    warning-100         : $warning-100;

    warning-dark-100    : $warning-dark-100;
    warning-dark-60     : $warning-dark-60;

    success-100         : $success-100;
    success-60          : $success-60;

}


// F3379D
// F04698