
$light-accent-100 : #81A2B1;
$light-accent-60  : #A6BCC5;
$light-accent-50  : #BBCBD1;
$light-accent-30  : #D2DCDD;
$light-accent-25  : #D8E0E0;
$light-accent-20  : #DEE4E3;
$light-accent-10  : #eaf0ef;

$dark-accent-100  : #777765;
$dark-accent-30   : #CFCFC6;
$dark-accent-20   : #DCDCD4;

$light-shades-100 : #F5F5F0;
$light-shades-80  : #D4D6D4;
$light-shades-20  : #707B7E;

$dark-shades-100  : #1F2F37;
$dark-shades-60   : #69767B;

$light-glass-100  : #f5f5f0b1;

$dark-glass-75    : #1f2f37bf;


$main-color-100   : #0BAEDD;

$error-100        : #FF0000;
$error-60         : #F25B5B;

$warning-100      : #FF9D0A;
$warning-60       : #DEF461;

$success-100      : #4ECC00;
$success-60       : #87D65B;


:export {
    light-accent-100    : $light-accent-100;
    light-accent-50     : $light-accent-50;
    light-accent-30     : $light-accent-30;
    light-accent-25     : $light-accent-25;
    light-accent-20     : $light-accent-20;

    dark-accent-100     : $dark-accent-100;
    dark-accent-30      : $dark-accent-30;
    dark-accent-20      : $dark-accent-20;

    light-shades-100    : $light-shades-100;
    light-shades-20     : $light-shades-20;

    dark-shades-100     : $dark-shades-100;
    dark-shades-60      : $dark-shades-60;

    light-glass-100     : $light-glass-100;

    main-color-100      : $main-color-100;

    error-100           : $error-100;
    error-60            : $error-60;

    warning-100         : $warning-100;
    warning-60          : $warning-60;

    success-100         : $success-100;
    success-60          : $success-60;

}
