@mixin sub-title {
    font-size: 16px;
    font-weight: 300;
    font-family: 'pinar_light';
}

@mixin description {
    font-size: 12px;
    font-weight: 500;
    font-family: 'pinar_medium';
}

@mixin sub-description {
    font-size: 12px;
    font-weight: 300;
    font-family: 'pinar_light';
}

@mixin text {
    font-size: 20px;
    font-weight: normal;
    font-family: 'pinar_reg';
}

@mixin h1-text {
    font-size: 48px;
    font-weight: bold;
    font-family: 'pinar_semi_bold';
}

@mixin h2-text {
    font-size: 35px;
    font-weight: 600;
    font-family: 'pinar_semi_bold';
}

@mixin h3-text {
    font-size: 32px;
    font-weight: 600;
    font-family: 'pinar_semi_bold';
}

@mixin h5-text {
    font-size: 20px;
    font-weight: 600;
    font-family: 'pinar_semi_bold';
}

@mixin h6-text {
    font-size: 16px;
    font-weight: 600;
    font-family: 'pinar_semi_bold';
}