@mixin sub-title {
    font-size: 16px;
    font-weight: 300;
}

@mixin description {
    font-size: 12px;
    font-weight: 500;
}

@mixin sub-description {
    font-size: 12px;
    font-weight: 300;
}

@mixin text {
    font-size: 20px;
    font-weight: normal;
}

@mixin h1-text {
    font-size: 48px;
    font-weight: bold;
}

@mixin h5-text {
    font-size: 20px;
    font-weight: 600;
}

@mixin h6-text {
    font-size: 16px;
    font-weight: 600;
}