@use "styles/mixins.scss";
@import "styles/colors.module.scss";

.container {
    padding: 5px 118px 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .step_progress_container {
        width: 100%;
        background-color: $light-accent-20;
        border-radius: 15px;
        padding: 25px 30px 35px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        min-height: 300px;

        h5 {
            @include mixins.h5-text;
            color: $dark-shades-100;
            text-align: right;
            direction: rtl;
        }

        .title_container {
            display: flex;
            direction: rtl;
            align-items: flex-end;
            justify-content: flex-start;
            column-gap: 5px;

            span {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                @include mixins.h5-text;
                img {
                    width: 23px;
                    height: 25px;
                }
            }

        }
    }


    .upcoming_activities_container {
        width: 100%;
        border-radius: 15px;
        border: 1px solid $light-accent-30;
        padding: 15px 24px 30px 24px;
        

        .title {
            width: 100%;
            display: grid;
            grid-template-columns: 86% 14%;
            direction: rtl;
            padding: 0 33px 14px 33px;
            @include mixins.sub-title;
            color: $dark-shades-100;
        }

        .activities {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            // min-height: 1310px;
            // max-height: 1310px;
            min-height: 378px;
            max-height: 506px;
            direction: rtl;
            padding-left: 10px;

            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 10px;
                background-color: #eeeeee;
            }

            &::-webkit-scrollbar-thumb {
                background:  #3dbbff;
                border-radius: 10px;
            }

            .activity-box {
                width: 100%;
                border-radius: 15px;
                background-color: $light-accent-20;
                display: flex;
                flex-direction: column;
                // align-items: flex-end;
                align-items: flex-start;
                justify-content: center;
                row-gap: 10px;
                padding: 14px 28px 16px 40px;

                .activity-data {
                    width: 100%;
                    display: grid;
                    align-items: baseline;
                    grid-template-columns: 88% 12%;
                    

                    .right-column {
                        // // order: 1;
                        // display: flex;
                        // justify-content: flex-start;
                        // // align-items: baseline;
                        // align-items: center;
                        // flex-direction: row-reverse;
                        // column-gap: 10px;

                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        // align-items: baseline;
                        flex-direction: row;
                        column-gap: 10px;

                        .activity-title {
                            @include mixins.text;
                            color: $dark-shades-100;
                            text-align: right;
                            cursor: pointer;
                        }

                        .icon {
                            width: 48px;
                            height: 48px;
                            background-color: $main-color_100;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }

                    .activity-deadline {
                        @include mixins.sub-title;
                        color: $dark-shades-100;
                        text-align: right;
                    }

                }

                .activity-text {
                    direction: rtl;
                    @include mixins.sub-description;
                    color: $dark-shades-100;
                    padding-right: 17px;
                    max-width: 900px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }

            }
        }
    }



}