@use "styles/mixins.scss";
@import "styles/colors.module.scss";

.btn-container {
    // display: table-cell;
    // vertical-align: middle;
    text-align: center;
    height: 48px;
    width: 100%;
    @include mixins.sub-title;
  }
  
  .btn-container i {
    display: inline-block;
    position: relative;
    top: -9px;
    width: 100%;
    height: 100%;
  }
  
  label {
    color: #424242;
    height: 100%;
    width: 100%;
  }
  
  .btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: $light-shades-100;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    content: attr(data-right);
    position: absolute;
    @include mixins.sub-title;
    // right: 75px;
    right: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: $main-color-100;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    content: attr(data-left);
    width: 70px;
    width: 50%;
    height: 100%;
    background: $main-color-100;
    color: $light-shades-100;
    border-radius: 26px;
    position: absolute;
    left: 0px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
  }
  
  .btn-color-mode-switch > .alert {
    display: none;
    border: none;
    color: #fff;
  }
  
  .btn-color-mode-switch input[type="checkbox"] {
    width: 50px;
    visibility: hidden;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
    cursor: pointer;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
    background: $light-shades-100;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    content: attr(data-right);
    left: 280px;
    left: 50%;
    background: $main-color-100;
    color: $light-shades-100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
    content: attr(data-left);
    right: auto;
    height: 100%;
    // left: 70px;
    left: 20%;
    line-height: 30px;
    color: $main-color-100;
}
  
.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
    display: block;
}
  
.dark-preview {
    background: #0d0d0d;
}
  
.white-preview {
    background: #fff;
}
  
  