@use "styles/mixins.scss";
@use "styles/mixins/functions.module.scss";
@import "styles/colors.module.scss";

.container {
    width: 100%;
    height: 100%;
    padding: 15px 140px 10px 20px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 30px;

    .header {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        direction: rtl;

        h5 {
            @include mixins.h5-text;
            color: $dark-shades-100;
            text-align: right;
        }

        .is_loading_name {
            @include functions.skeletonLoadingStyles(250px, 30px, 5px);
        }

        .is_loading_back {
            @include functions.skeletonLoadingStyles(25px, 30px, 5px);
        }

        .is_loading_title {
            @include functions.skeletonLoadingStyles(167px, 30px, 5px);
        }

        .icons_container {
            width: max-content;
            display: flex;
            column-gap: 12px;
        }

        .is_loading_icons {
            @include functions.skeletonLoadingStyles(96px, 24px, 5px);
        }

        img {
            width: 24px;
            height: 24px;
        }

        img:hover {
            cursor: pointer;
        }
    }

    .avatar {
        width: 100%;
        height: 100%;
        max-width: 50px;
        min-width: 50px;
        max-height: 50px;
        min-height: 50px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;

        .is_supervisor {
            max-width: 6px;
            min-width: 6px;
            max-height: 6px;
            min-height: 6px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $main-color-100;
            position: absolute;
            top: 8px;
            right: 2px;
        }
    }

    .empty_avatar {
        @include functions.emptyAvatarStyles();
        @include mixins.h6-text;
    }

    .forums_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;

        .forums {
            width: 100%;
            max-height: 677px;
            min-height: 677px;
            max-height: 531px;
            min-height: 531px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            overflow-y: auto;
            overflow-x: hidden;
            direction: rtl;
            padding-left: 10px;

            &::-webkit-scrollbar {
                width: 7px;
                background-color: #eeeeee;
            }
    
            &::-webkit-scrollbar-thumb {
                background:  #3dbbff;
                border-radius: 10px;
            }

            .forum {
                width: 100%;
            }

            .is_loading_Preview {
                @include functions.skeletonLoadingStyles($height: 90px,  $radius: 12px);
            }
        }
    }

    .forum {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;

        .messages {
            width: 100%;
            border-radius: 12px;
            border: 1px solid $light-accent-30;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            padding: 20px 20px 0;
            position: relative;
            max-height: 677px;
            min-height: 677px;

            .messages_wrapper {
                width: 100%;
               // max-height: 555px;
               // min-height: 555px;
                max-height: calc(100% - 90px - 10px);
                min-height: calc(100% - 90px - 10px);
                overflow-y: auto;
                overflow-x: hidden;
                direction: rtl;
                padding-left: 10px;
                display: flex;
                row-gap: 10px;
                flex-direction: column;
                align-items: center;

                &::-webkit-scrollbar {
                    width: 7px;
                    background-color: #eeeeee;
                }
        
                &::-webkit-scrollbar-thumb {
                    background:  #3dbbff;
                    border-radius: 10px;
                }
            }

            .message {
                width: 100%;
                border-radius: 12px;
                padding: 10px 20px;
                color: $dark-shades-100;
                @include mixins.sub-description;
                line-height: 28px;
                text-align: justify;
                direction: rtl;
                white-space: pre-line;
            }

            .sent_message {
                border-bottom-left-radius: 0px;
                background-color: $dark-accent-20;
            }

            .recieved_message {
                width: 100%;
                display: flex;
                direction: rtl;
                align-items: flex-end;
                column-gap: 10px;
                
                .content {
                    border-bottom-right-radius: 0px;
                    background-color: $light-accent-20;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 2px;

                    p:first-of-type {
                        color: $main-color-100;
                        @include mixins.description;
                        line-height: unset;
                    }
                }
            }

            .chatbox {
                width: calc(100% + 40px);
                max-height: 90px;
                min-height: 90px;
                position: sticky;
                border-radius: 0px 0px 12px 12px;
                background-color: $dark-accent-100;
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-start;
                justify-content: center;
                column-gap: 15px;
                padding: 10px 20px 8px;
                -ms-overflow-style: none; 
                scrollbar-width: none; 

                img {
                    width: 24px;
                    height: 24px;
                    margin-top: 7px;
                }

                img:hover {
                    cursor: pointer;
                }
               
                .content {
                    width: 100%;
                    height: 100%;
                    color: $light-shades-100;
                    text-align: justify;

                    textarea {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        line-height: 28px;
                        @include mixins.sub-description;
                        resize: none;
                        direction: rtl;
                    }
                    
                    textarea:focus {
                        outline: none !important;
                        border: none;
                    }

                    textarea::-webkit-scrollbar {
                        display: none;
                    }
                }

                .content:hover {
                    cursor: text;
                }
            }
        }
        
    }

    .is_loading_presence_list {
        @include functions.skeletonLoadingStyles(340px, 716px, 12px);
    }

    .users_list {
        width: 100%;
        background-color: $dark-accent-20;
        min-width: 300px;
        max-width: 300px;
        min-height: 716px;
        max-height: 716px;
        border-radius: 12px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        h6 {
            @include mixins.h6-text;
            color: $dark-shades-100;
            text-align: right;
            padding-right: 8px;
        }

        .users {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            .user {
                width: 100%;
                display: flex;
                direction: rtl;
                column-gap: 10px;

                .user_info {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 2px;

                    .top_row {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;

                        p {
                            @include mixins.h6-text;
                            color: $dark-shades-100;
                            direction: rtl;
                            width: max-content;
                            white-space: nowrap;
                            border-left: 1px solid $dark-shades-100;
                            padding-left: 4px;
                        }

                        h6 {
                            @include mixins.sub-title;
                            color: $dark-shades-100;
                            padding-right: 4px;
                        }
                    }

                    .bottom_row {
                        text-align: right;
                        color: $dark-shades-100;
                        @include mixins.sub-description;
                    }
                }
            }
        }
    }
}