@use "styles/mixins.scss";
@use "styles/mixins/functions.module.scss";
@import "styles/colors.module.scss";

.container {
    width: 100%;
    height: 100%;
    color: $dark-shades-100;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        direction: rtl;
        border-bottom: 1px solid $light-accent-100;
        padding-bottom: 10px;

        .column {
            display: flex;
            align-items: center;
            column-gap: 12px;
            direction: rtl;

            h2 {
                @include mixins.h5-text;
            }

            img:hover {
                cursor: pointer;
            }
        } 
    }

    .groups {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-top: 9px;
        padding-left: 8px;
        min-height: 88%;
        max-height: 88%;
        direction: rtl;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #eeeeee;
        }

        &::-webkit-scrollbar-thumb {
            background:  #3dbbff;
            border-radius: 5px;
        }


        .group_container {
            width: 100%;
            display: flex;
            align-items: center;
            direction: rtl;
            column-gap: 15px;
    
            .groups_data {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                column-gap: 10px;
                @include mixins.description;
                cursor: default;

                .groups_name {
                    max-width: 120px;
                    min-width: auto;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    direction: rtl;
                }

                
            }
    
            img {
                @include functions.setIconStyles(24px);
            }
        }

        .empty_list {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 50px;
            color: $dark-shades-100;
            @include mixins.sub-title;
            flex-direction: column;
            row-gap: 30px;
        }
    }

    .empty_groups {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

}