@use "styles/mixins.scss";
@import "styles/colors.module.scss";

.activity-box {
    width: 100%;
    border-radius: 15px;
    background-color: $light-accent-20;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
    padding: 14px 28px 16px 40px;
    cursor: pointer;

    .activity-data {
        width: 100%;
        display: grid;
        align-items: baseline;
        grid-template-columns: 80% 20%;
        

        .right-column {
            // // order: 1;
            // display: flex;
            // justify-content: flex-start;
            // // align-items: baseline;
            // align-items: center;
            // flex-direction: row-reverse;
            // column-gap: 10px;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            // align-items: baseline;
            flex-direction: row;
            column-gap: 10px;

            .activity-title {
                @include mixins.text;
                color: $dark-shades-100;
                text-align: right;
            }

            .smarties-info {
                width: max-content;
                color: $pink-100;
                @include mixins.description;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                column-gap: 5px;

                img {
                    width: 24px;
                    height: 24px;
                }

                p {
                    direction: ltr;
                }
            }

            .icon {
                width: 48px;
                height: 48px;
                background-color: $main-color-100;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .left-column {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            
            .buttons-container {
                width: max-content;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                column-gap: 5px;
            }

            .activity-deadline {
                width: 100%;
                max-width: calc(100% - (24*2px) - 5px);
                @include mixins.sub-title;
                color: $dark-shades-100;
                text-align: center;
                direction: ltr;
            }
        }
    }

    .activity-text {
        direction: rtl;
        @include mixins.sub-description;
        color: $dark-shades-100;
        padding-right: 17px;
        max-width: 900px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.activity-box:hover {
    background-color: $light-accent-30;
}

.unclickable-box:hover {
    cursor: default;
}