@use "styles/mixins.scss";
@use "styles/mixins/functions.module.scss";
@import "styles/colors.module.scss";

.container {
    width: 100%;
    height: 100%;
    padding: 20px 118px 10px 20px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 30px;

    display: grid;
    grid-template-columns: minmax(270px, 23%) auto;


    .sidebar {
        width: 100%;
        // min-width: 290px;
        // max-width: 400px;
        // height: calc(100vh - 92px);
        // max-height: 700px;
        background-color: $dark-accent-100;
        color: $light-shades-100;
        // position: fixed;
        border-radius: 12px;
        // left: 20px;
        // min-height: 200px;
        padding: 25px 20px;    
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-end;

        .items_list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 10px;

            .item {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 5px;
                width: 100%;

                .header {
                    width: 100%;
                    @include mixins.h6-text;
                    display: flex;
                    direction: rtl;
                    align-items: center;
                    column-gap: 10px;

    
                    .icon {
                        padding: 8px;
                        border-radius: 12px;
                    }
                }
            }

            .item > p {
                @include mixins.sub-description;
                direction: rtl;
                padding-right: 40px;
                line-height: 25px;
            }
            
            .item:first-child {
                border-bottom: 1px solid $light-shades-50;
                padding-bottom: 5px;
            }

            .item:nth-child(1) .header .icon {
                background-color: $main-color-100;
            }

            .item:nth-child(2) .header .icon {
                background-color: $light-accent-100;
            }

            .item:nth-child(3) .header .icon {
                background-color: $warning-dark-100;
            }
        }


    }

    .sidebar > p:first-of-type {
        direction: rtl;
        @include mixins.h5-text;
    }

    .main_panel {
        width: 100%;
        height:  100%;
        border-radius: 12px;
        background-color: $light-accent-20;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 20px;
        min-height: 570px;
        min-height: 710px;
        // position: relative;

        .inputs_container {
            width: 100%;
            align-items: center;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1.5px solid $light-shades-100;
            padding-bottom: 22px;
            display: grid;
            grid-template-columns: minmax(310px, 40%) minmax(210px, 30%);
            column-gap: 15px;
        }

        .inputs_container > div:first-child {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 12px;
            grid-area: 1 / 2 / 2 / 3;
        }

        .buttons_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 30px;
            min-height: 400px;
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            direction: rtl;
            // padding: 0 10px 20px;
            margin-bottom: 20px;
            padding: 0 10px;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: #eeeeee;
            }
    
            &::-webkit-scrollbar-thumb {
                background:  #3dbbff;
                border-radius: 10px;
            }


            .new_milestone {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 15px;

                .header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .title_container {
                        width: max-content;
                        @include mixins.h6-text;
                        display: flex;
                        direction: rtl;
                        align-items: center;
                        // position: relative;
        
                        .icon {
                            padding: 8px;
                            border-radius: 12px;
                            background-color: $main-color-100;
                        }
    
                        .milestone_modal {
                            width: 100%;
                            background-color: $dark-glass-75;
                            border-radius: 12px;
                            // border-top-right-radius: 0px;
                            @include mixins.open-modal-from-right;
                            @include  functions.setFixedSize(650px, 420px);
                            // top: 7px;
                            // right: 47px;

                            top: 50%;
                            // top: 65%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            overflow: auto;
                            position: fixed;
                        }
                    }

                    .title_container > p {
                        padding-right: 10px;
                    }

                    // .title_container:hover {
                    //     cursor: pointer;
                    // }
                }

                .new_tasks {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    row-gap: 7px;

                    .inner_header {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 40px;

                        .title_container {
                            width: max-content;
                            @include mixins.h6-text;
                            display: flex;
                            direction: rtl;
                            align-items: center;
                            // position: relative;
                            

                            .icon {
                                padding: 8px;
                                border-radius: 12px;
                            }

                            .task_modal {
                                width: 100%;
                                background-color: $dark-glass-75;
                                border-radius: 12px;
                                // border-top-right-radius: 0px;
                                @include mixins.open-modal-from-right;
                                @include  functions.setFixedSize(650px, 360px);
                                // top: 7px;
                                // top: 17px;
                                top: 50%;
                                // top: 65%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                overflow: auto;
                                position: fixed;
                                // right: 47px;
                            }
                        }

                        // .title_container:hover {
                        //     cursor: pointer;
                        // }

                        .title_container > p {
                            padding-right: 10px;
                        }

                    }
                }

                .button_container {
                    width: 100%;
                    padding-right: 40px;
                }

                .edit_buttons {
                    width: max-content;
                    display: flex;
                    align-items: center;
                    column-gap: 4px;

                    img:hover {
                        cursor: pointer;
                    }
                }

                .error_msg {
                    width: 100%;
                    padding-right: 40px;
                    direction: rtl;
                    color: $error-100;
                    @include mixins.description;
                }
            }
        }
    }

    .main_panel > p {
        color: $dark-shades-100;
        @include mixins.h5-text;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .delete_modal {
        width: 100%;
        height: 100%;
        background-color: $dark-glass-75;
        border-radius: 15px;
        @include mixins.open-modal-from-right;
        @include  functions.setFixedSize(778px, 216px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}